@import 'https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i&subset=cyrillic';
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'PT Sans', Verdana, sans-serif;
  font-size: 18px;
  color: #555;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 30px;
  margin: 2em 0 1em;
  color: inherit;
  font-weight: 300;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
a {
  outline: none;
  color: #81c483;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  outline: none;
}
.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  padding: 15px;
  text-align: center;
  background: #f9f9f9;
}
.aside .cms-nav {
  display: inline-block;
  margin-top: 30px;
}
.cms-nav a {
  text-decoration: none;
  display: block;
  padding: 6px 12px;
  text-transform: uppercase;
  color: inherit;
  font-size: 13px;
  border-top: 1px solid #f0f0f0;
}
.cms-nav a:last-child {
  border-bottom: 1px solid #f0f0f0;
}
.aside a:hover {
  color: #222;
}
.cms-sitename {
  font-size: 32px;
  text-decoration: none;
  margin-top: 1em;
}
.cms-sitename,
.cms-tagline {
  font-family: 'Noto Serif', Georgia, serif;
  color: #777;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.cms-tagline {
  font-size: 14px;
  padding: 0 20px;
}
.cms-title {
  text-align: center;
}
.container {
  margin: 0 0 0 260px;
}
.main-footer {
  padding: 0 0 20px;
  color: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 90%;
}
.cms-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}
.post .grid-item {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #888;
}
.post .grid-item:hover {
  color: #444;
}
.post-title {
  margin: 0;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: #5f5f5f;
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.post-exerpt {
  font-size: 16px;
}
.post a:hover .post-title {
  color: #333;
}
.post-meta {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
.post-meta a {
  color: #777;
}
.post-single .post-title {
  margin-bottom: 20px;
}
.post-content img {
  max-width: 100%;
  margin: 20px 0;
}
.post.post-single,
.page {
  max-width: 960px;
  padding: 15px;
  margin: 0 auto;
}
.post-single .post-category {
  color: #81c483;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.post-single .post-category::before {
  content: none;
}
.post-single .post-title,
.page-title {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}
.post-single .post-meta {
  font-size: 16px;
  text-align: right;
}
.page-title {
  margin-top: 40px;
}
blockquote {
  border-left: 4px solid #dcdcdc;
  margin: 20px 0;
  padding: 10px 10px 10px 30px;
  font-style: italic;
  color: #999;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
:not(pre) code {
  font-family: Consolas, monospace;
  background: #f8f8f8;
  padding: 0 5px;
}
.hljs {
  font-family: Consolas, monospace;
  font-size: 16px;
  padding: 30px 15px;
}